<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny 2 Exotic Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="ExampleApp.css" rel="stylesheet" />
</head>
<body ng-app="App" ng-controller="mainController as ctrl" data-ng-init="ctrl.init()">
    
    <h1>Exotic Weapons and Armor</h1>
    <script type="text/ng-template" id="tpl.html">
        <div class="popover-content">
            <div>
                <div>
                    <span>{{item.name}}</span>
                </div>
                <div>{{item.description}}</div>
            </div>
        </div>
    </script>
    <button ng-click="ctrl.weaponsHide = !ctrl.weaponsHide">Weapons</button>
    <button ng-click="ctrl.hunterHide = !ctrl.hunterHide">Hunter Armor</button>
    <button ng-click="ctrl.warlockHide = !ctrl.warlockHide">Warlock Armor</button>
    <button ng-click="ctrl.titanHide = !ctrl.titanHide">Titan Armor</button>
    <div id="weapons" ng-if="!ctrl.weaponsHide">
        <h2>Weapons</h2>
        <span ng-repeat="item in ctrl.weaponList">
            <img uib-popover class="item inactive" 
                 ng-click="ctrl.toggle(item)" 
                 ng-src="{{item.image}}" 
                 popover-trigger="'mouseenter'" 
                 popover-placement="bottom" 
                 uib-popover-template="'tpl.html'"
                 ng-class="{'active': item.active}"
            />
        </span>
    </div>
    <div id="hunter" ng-if="!ctrl.hunterHide">
        <h2>Hunter</h2>
        <span ng-repeat="item in ctrl.hunterList">
            <img uib-popover class="item inactive"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="bottom"
                 uib-popover-template="'tpl.html'"
                 ng-class="{'active': item.active}" />
        </span>

    </div>
    <div id="warlock" ng-if="!ctrl.warlockHide">
        <h2>Warlock</h2>
        <span ng-repeat="item in ctrl.warlockList">
            <img uib-popover class="item inactive"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="bottom"
                 uib-popover-template="'tpl.html'"
                 ng-class="{'active': item.active}" />
        </span>

    </div>
    <div id="titan" ng-if="!ctrl.titanHide">
        <h2>Titan</h2>
        <span ng-repeat="item in ctrl.titanList">
            <img uib-popover class="item inactive"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="bottom"
                 uib-popover-template="'tpl.html'"
                 ng-class="{'active': item.active}" />
        </span>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
<!--        
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
-->
        <script src="ExampleData.js">
        <script src="angular.module.js"></script>
</body>
</html>