.item {
    outline: 3px solid black;
    width: 100px;
    height: 70px;
    //outline-offset: -3px;
    padding: 3px;
    margin: 4px;
}
.active {
    outline: 3px solid yellow;
}
body {
    background: black;
}
h1 {
    color: white;
}
h2 {
    color: white;
}