.item {
    outline: 5px solid black;
    width: 100px;
    height: 70px;
    outline-offset: -5px;
}
.active {
    outline: 5px solid yellow;
}
body {
    background: black;
}
h1 {
    color: white;
}
h2 {
    color: white;
}