<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny 2 Exotic Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../Style/ExampleApp.css" rel="stylesheet" />
</head>
<body>
<div ng-app="app" ng-controller="mainController as ctrl" data-ng-init="ctrl.init()">
<form action="../resume.html">
    <button type="submit" style="width: 200px;height: 80px;">Return to resume</button>
</form>
<div style="color: white">
<h2>Description - </h2>
This site is a basic way to track 
items obtained in the video game Destiny 2 made by the company Bungie.  
I'm trying to recreate a website that was made for the original Destiny game 
at www.destinyexotics.com which looks like <a href="../Images/DestinyExoticsExample.PNG"><b>this</b></a>
 by using AngularJS which I wanted to become 
familiar with before first using it at work.  It was also deployed 
previously as a C# web application on an AWS EBS instance, but it didnt
 need to stay there as it's now completely in Angular with no C# left.  
The data is populated by a Python script seen <a href="../Python/ManifestItems.py"><b>here</b></a> which grabs from the
 Destiny API.  I had originally planned to make the API calls in C#, but 
found it was significantly easier to unpack the Destiny SQLite DB with Python.
<br />
<!-- Will make this live once I actually have a good number of cool features.  If you are reading this, the next
cool feature I'm working on is authenticating users with the API so it'll autopopulate the items that you've already
obtained in the game.

A few neat features are - 
<ul>
	<li>Popovers - Hover over an item and it'll display a description box.  On mobile, press an item once</li>
	<li>Cookies - Click on a few items so they are lit up.  Refresh your page and you'll see it remembers which you've selected</li>

</ul>
-->
</div>
    <h1>Exotic Weapons and Armor</h1>
    <script type="text/ng-template" id="itemPopover.html">
        <div class="popover-content">
            <div>
                <div>
                    <span>{{item.name}}</span>
                </div>
                <div>{{item.description}}</div>
            </div>
        </div>
    </script>
    <button ng-click="ctrl.weaponsHide = !ctrl.weaponsHide">Weapons</button>
    <button ng-click="ctrl.hunterHide = !ctrl.hunterHide">Hunter Armor</button>
    <button ng-click="ctrl.warlockHide = !ctrl.warlockHide">Warlock Armor</button>
    <button ng-click="ctrl.titanHide = !ctrl.titanHide">Titan Armor</button>
    <button ng-click="ctrl.shipHide = !ctrl.shipHide">Ships</button>
    <button ng-click="ctrl.vehicleHide = !ctrl.vehicleHide">Vehicles</button>
    <button ng-click="ctrl.emoteHide = !ctrl.emoteHide">Emotes</button>
    <div id="weapons" ng-if="!ctrl.weaponsHide">
        <h2>Weapons</h2>
        <span ng-repeat="item in ctrl.weaponList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)" 
                 ng-src="{{item.image}}" 
                 popover-trigger="'mouseenter'" 
                 popover-placement="auto" 
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}"
            />
        </span>
    </div>
    <div id="hunter" ng-if="!ctrl.hunterHide">
        <h2>Hunter</h2>
        <span ng-repeat="item in ctrl.hunterList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="auto"
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}" />
        </span>

    </div>
    <div id="warlock" ng-if="!ctrl.warlockHide">
        <h2>Warlock</h2>
        <span ng-repeat="item in ctrl.warlockList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="auto"
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}" />
        </span>

    </div>
    <div id="titan" ng-if="!ctrl.titanHide">
        <h2>Titan</h2>
        <span ng-repeat="item in ctrl.titanList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="auto"
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}" />
        </span>
    </div>
    <div id="ship" ng-if="!ctrl.shipHide">
        <h2>Ships</h2>
        <span ng-repeat="item in ctrl.shipList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="auto"
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}" />
        </span>
    </div>
    <div id="vehicle" ng-if="!ctrl.vehicleHide">
        <h2>Vehicles</h2>
        <span ng-repeat="item in ctrl.vehicleList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="auto"
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}" />
        </span>
    </div>
    <div id="emote" ng-if="!ctrl.emoteHide">
        <h2>Emotes</h2>
        <span ng-repeat="item in ctrl.emoteList">
            <img uib-popover class="item"
                 ng-click="ctrl.toggle(item)"
                 ng-src="{{item.image}}"
                 popover-trigger="'mouseenter'"
                 popover-placement="auto"
                 uib-popover-template="'itemPopover.html'"
                 ng-class="{'active': item.active}" />
        </span>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
<script src="angular.module.js"></script>
<script src="main.controller.js"></script>
<script src="ExampleData.js"></script>
</body>
</html>